<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5)">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>


	<div th:insert="partials/header :: menu"></div>
	
	<div class="container" >
	<div align="center" th:insert="partials/header :: header"></div>
		<h1 align = "center">LISTE VOITURE</h1>
		<table class = "table" border="1" th:fragment="listeVoiture">
			<thead>
				<tr>
					<th>Marque</th>
					<th>Type</th>
					<th>Energie</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="voiture : ${listVoiture}">
					<td th:text=${voiture.marque}></td>
					<td th:text=${voiture.type}></td>
					<td th:text=${voiture.energie}></td>
				</tr>
			</tbody>
		</table>
		<br/>
	</div>
	
	<div align="center" th:insert="partials/footer :: footer"></div>
</body>
</html>