<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<h1>LISTE VOITURE COMMENTAIRE</h1>
		<br/>
		<table border="1">
			<thead>
				<tr>
					<th>Commentaire</th>
					<th>IdVoiture</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="commentaire : ${listeCommebtaire}">
					<td th:text=${commentaire.commentaire}></td>
					<td th:text=${commentaire.idVoiture}></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>