<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>
	<div align="center">
		<h1>CREER NOUVEAU VOITURE</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${newVoitureForm}" method="POST">
			<table border="0" cellpadding="10">
				<tr>
					<td>Marque voiture</td>
					<td><input type="text" th:field="*{marque}" required/></td>
				</tr>
				<tr>
					<td>Type voiture</td>
					<td><input type="text" th:field="*{type}" required/></td>
				</tr>
				<tr>
					<td>Energie</td>
					<td><input type="text" th:field="*{energie}" required/></td>
				</tr>
				<tr>
					<td colspan="2"><button class="btn btn-info" type="submit">Sauvegarder</button></td>
					<td colspan="2"><button  class="btn btn-danger"type="button"><a style ="text-decoration:none;color:#fff;"href="/pageAdmin">Annuler</a></button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>