<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
	<div align ="center">
		<table border="1">
			<tr>
				<td>
					<table>
						<form action="#" th:action="@{/login}" th:object="${user}" method="post">
							
							<tr>
								<td>Login</td>
							</tr>
							<tr> 
								<td>Username</td>
								<td>
									<input type="text" th:field="*{username}"/>
								</td>
							</tr>
							<tr>
								<td>Password</td>
								<td>
									<input type="text" th:field="*{password}"/>
								</td>
							</tr>
							<tr>
								<td><button type="submit">Login</button></td>
							</tr>
						</form>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>